/* RWD for paintings and icons galleries */


@media only screen and (max-width: 1200px){
	
		.paint-wrapper
		{
			max-width: 1000px;
			padding: 20px 0;
			margin: 0 auto;
			line-height: 20px;
	
			column-count: 3;
			column-gap: 0;
			-webkit-column-count: 3;
			-webkit-column-gap: 0;
			-moz-column-count: 3;
			-moz-column-gap: 0; 
		
		}
	
	}

@media only screen and (max-width: 1020px){

	.img-wrapper
	{
		max-width: 930px;
		padding: 20px 4%;
		margin: 0 auto;
		line-height: 20px;

		column-count: 2;
		column-gap: 0;
		-webkit-column-count: 2;
		-webkit-column-gap: 0;
		-moz-column-count: 2;
		-moz-column-gap: 0; 
	
	}

}


@media only screen and (max-width: 750px){

	.photo
	{
		margin-bottom: 1em;
	}
	.post-img-info 
	{
		font-size: .8em;
		color: #000;
		text-align: center;
		width: 300px; /* to match the size of picture */
		margin: 0 auto; /* to fit in the pictures' margin */
		display: flex; /* For centering text inside .photo-overlay */
		flex-direction: column;
		align-items: center;
		background: #fff;
	}

	.photo-overlay 
	{
		opacity: 0;
		transition: opacity .5s;
	}
	.photo-overlay:hover 
	{
		opacity: 0;
	}

	.photo-container
	{
		margin-bottom: 1em;
		/*border-bottom: 2px solid green; */
	}

	.img-wrapper
	{
		padding: 1em 1%;
	}

}


@media only screen and (max-width: 645px){

	.icon 
	{
		display: none;
	}
 
 	.icon2 
 	{
 		display: block;
 	}   

	.img-wrapper
	{
		
		padding: 20px 4%;
		line-height: 20px;
		display: flex;
		flex-wrap: wrap;
	} 	

	.photo-overlay 
	{
		width: 400px;
	}

	.post-img-info 
	{
		font-size: 1em;
		width: 400px; /* to match the size of picture */
	}

}


@media only screen and (max-width: 450px){

	.icon 
	{
		display: block;
	}
 
 	.icon2 
 	{
 		display: none
 	}   

 	.icon3 
 	{
 		display: none;
	 }
	

	.img-wrapper
	{
		margin: 0 auto;
		padding: 20px 1%;
		line-height: 20px;
		
	} 	

	.photo-overlay 
	{
		width: 300px;
	}

	.post-img-info 
	{
		font-size: .8em;
		width: 300px; /* to match the size of picture */
	}

}



@media only screen and (max-width: 310px){

	.icon 
	{
		display: none;
	}

 	.icon3 
 	{
 		display: block;
	 }
	 
	 .pic 
	 {
		 display: none;
	 }

	 .pic2 
	 {
		 display: block;
	 }

	.img-wrapper
	{
		margin: 0 auto;
		padding: 20px 1%;
		line-height: 20px;		
	} 	

	.photo-overlay 
	{
		width: 214px;
	}

	.post-img-info 
	{
		font-size: .8em;
		width: 214px; /* to match the size of picture */
	}

	.post-img-info > h3
	{
		margin: 0 0 1%;
	}

}














